/* oswald-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v53-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oswald-v53-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.hero-logo {
    height: 63px;
    width: 63px;
}

h2 {
    margin: 0px
}

h3 {
    margin: 0px
}

.headline-1 {
    font-family: 'Oswald';
    line-height: 64px;
    font-weight: 700;
    font-size: 48px;
    margin-top: 13px;
}

.headline-2 {
    font-family: 'Oswald';
    line-height: 64px;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
    color: #464547;
    ;
}

.headline-3 {
    font-family: 'Oswald';
    line-height: 64px;
    font-weight: 700;
    font-size: 48px;
    height: 117px;
}

.subheadline-1 {
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}

.subheadline-2 {
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
}

.subheadline-3 {
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    height: 102px;
}

p {
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

.read-more {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.read-more {
    border-radius: 50px;
    color: #FFFFFF;
    background-color: #55C2D8;
    width: 115px;
    height: 36px;
    border: none;
    margin-top: 21px;
}

main {
    text-align: center;
}

.play {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    color: #FFFFFF;
    background-color: #55C2D8;
    border: none;
    margin-top: 53px;
    margin-bottom: 70px;
    font-size: 56px;
    justify-content: center;
    align-items: center;
}

.hero {
    padding-top: 252px;
    height: 800px;
    width: 100%;
    background-image: url("../assets/hero.png");
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    padding: 0px;
    margin: 0px;
}

.main {
    padding-top: 87px;
    padding-bottom: 98px;
    text-align: center;
    background-color: #EEEEEE;
}

.main-text {
    width: 983px;
    height: 194px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.learn-more {
    /* height: 666px; */
    background-image: url("../assets/learn-more.png");
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 84px;
    padding-bottom: 90px;
}

.learn-more__headline {
    width: 480px;
}

footer {
    padding-top: 19px;
    padding-bottom: 38px;
    padding-left: 140px;
    background-color: #464547;
}

footer p {
    font-family: 'Source Sans 3';
    color: rgba(255, 255, 255, 0.4);
    line-height: 19px;
}

footer a {
    font-family: 'Source Sans 3';
    color: rgba(255, 255, 255, 0.4);
    line-height: 19px;
    text-decoration: none;
    padding-top: 0;

}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer-logo p {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Source Sans 3';
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-left: 16px;
}

.footer-address {
    margin-bottom: 6px;
    height: 33px;
    width: 174px;
}